# Editor directories and files
.idea

# Package Manager
node_modules
.pnpm-debug.log*

# Bundle
dist

# local env files
*.local
.eslintcache
tmp

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
